@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    --accent-primary-1: #FFCC33;
    --accent-primary-2: #F3D643;
    --accent-primary-3: #FFAE42;
    --accent-primary-4: #C36721;
    --accent-secondary-1: #29B2A0;
    --accent-secondary-2: #046E94;
    --accent-secondary-3: #073376;
}
